
{% extends 'base.html' %}


{% block content %}

    <section>
        <div class="container">
            <div class="text-center">
            <img height='400' width='400' src="https://static.vecteezy.com/system/resources/previews/002/849/295/large_2x/order-clothes-from-china-delivery-of-a-parcel-with-clothes-to-the-house-flat-cutter-illustration-vector.jpg">
            <h3>Your Order Has Been placed</h3>
            <a href="/store/" style="color:inherit"><span><u>Continue Shopping</u></span></a>
            </div>
        </div>
    </section>
{%endblock%} 